*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

a{
    color: #ffffff;
    text-decoration: none;
}

body{
    background-color: #0A1627;

}
h1{
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 280%;
    font-weight: bold;
}
h2{
    font-weight: bolder;
    margin: 0;
    padding: 30px 0 30px 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

h3{
    width: 100%;
    margin: 2px 0 0 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    border-bottom: #099FCA 2px solid;
    text-align: center;

    display: flex;
    justify-content: center;
}
h4{
    padding: 0 2rem;
    margin: 0;
    color: #ffffff;
    font-weight: 50;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
h5{
    padding: 0;
    margin: 0;
    color: #ffffff;
}

/* INICIO DEL HEADER*/

.header-container{
    width: 100%;
    text-decoration: none;
    position: absolute;


    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;

    .header-items{
        padding: 0;
        margin: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


.navmobile-content{
    width: 100%;
    position: absolute;
    top: 0;
    
    .menu-mobile{
        height: 70px;
        width: 100%;
        padding: 1rem 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    
        .dropbtn {
            background-color: #3498db00;
            padding: 0;
            border: none;
            cursor: pointer;
          }
        .dropbtn:hover, .dropbtn:focus {
            background-color: #297fb900;
          }
          /* The container <div> - needed to position the dropdown content */
          .dropdown {
            height: 40px;
            display: flex;
            justify-content: center;
          }
          /* Dropdown Content (Hidden by Default) */
          .dropdown-content {
            display: none;
            position: absolute;
            top: 50px;
            left: -280px;
            right: 20px;
            background-color:#0a1627;
            min-width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          }
          /* Links inside the dropdown */
          .dropdown-content a {
            width: 100%;
            color:#ffffff;
            padding: 10px 10px;
            display: block;
            display: flex;
            justify-content: center;
            font-weight: 600;
            font-size: larger;
          }
          /* Change color of dropdown links on hover */
          .dropdown-content a:hover {background-color:#09a0ca4c;}
          /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
          .show {display:block;}
    
    }

}

/* FIN DE HEADER*/

/* INICIO DEL HERO */
.hero-container{
    width: 100%;
    height: 790px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../media/fondo-web-alan-3.png);

    display: flex;
    justify-content: center;
    justify-content: space-around;

    .text-hero{
        width: 100%;
        height: 790px;
        text-align: center;
    
        display: flex;
        flex-direction: column;
        justify-content: center;

        .boton-container{
            height: 50px;
            position: relative;
            top: 150px;

            .btn-primary{
                font-weight: 600;
                background-color: #099FCA;
            }
        }
    
    }
    
}

/* FIN DEL HERO*/


.separador{
    height: 10px;
    margin: 0px;
    background: linear-gradient(to right,#099FCA, #0961AC);
    color: #ffffff00;
}

/*SOBRE MI*/

.sobremi-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .foto-sobremi{

        width: 400px;
        height: 100%;
        margin: 20px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .texto-sobremi{
        color: #ffffff;
        width: 400px;
        margin: 20px;
        font-weight: 600;
    
        padding: 0;
        text-align: justify;
        display: flex;
        align-items: center;
    
    }
}


.habilidades-container{
    width: 100%;
    height: 230px;
    padding: 1rem 20px;
    display: grid;
    grid-template-rows: repeat(2, 90px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .skills-items{
        color: #ffffff;
        padding: 0;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: .5rem;

        .icon-tools{
            height: 60px;
            width: 60px;
            padding: 0;
        }
    }
}


/* FIN SOBRE MI*/

/* INCIO SERVICIOS*/


.servicios-container{
    width: 100%;
    margin: 0;
    padding: 20px;

    display: grid;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: 300px;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    .servicio-item{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    
        .icon-servicio{
            display: flex;
            justify-content: center;
        
        }
    
    }

    
    .servicio-item h5{
        color: #ffffff;
        display: flex;
        justify-content: center;
    }
    .servicio-item p{
        color: #ffffff;
        text-align: justify;
    }
    .text-servicio{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}

/* FIN DE SERVICIOS*/

.portfolio-container{
    padding: 0 0 2rem;

    .carousel-inner{
        padding: 10px 10px;
    }
}

/* FOOTER */ 
.footer-container{
    margin: 20px 20px;
    color: #ffffff;
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr 0.6fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

    .footer-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: flex-start;

        .lista-explorar{
            padding: 0;
            margin: 0;

            .text-explorar {
                margin: 4px 0 4px 0;
            }
        }

        .lista-contactame{
            padding: 0;
            margin: 0;

            .text-contact{
                margin: 4px 0 4px 0;
            
            }
        }
    }

    .logo-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialmedia-container{
        width: 50%;
        margin: 10px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        justify-content: flex-start;
        gap: 5px;
    
    }
}



@media screen and (max-width: 576px){
    .footer-container{display: none;}

}

@media screen and (max-width: 576px) {
    .footer-container{
        margin: 20px 40px;
        color: #ffffff;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 300px;
        grid-gap: 10px;
        justify-content: center;
        
        }

    .lista-explorar{
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }

    .footer-item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lista-contactame{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .text-contact{
        margin: 4px 0 4px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialmedia-container{
        width: 100%;
        margin: 10px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;}
    }

@media screen and (max-width: 767px){
    .header-container{display: none;}
    .header-items{display: none;}
    
}

@media screen and (min-width: 768px){
    .menu-mobile{display: none;
    }
    .navmobile-content .menu-mobile {
        display: none;
    }
    .menu-mobile-items{display: none;}
    .nav-mobile{display: none;}

    .habilidades-container{
        width: 100%;
        height: 230px;
        padding: 1rem 20px;
        grid-template-rows: repeat(2, 90px);
        grid-template-columns: repeat(4, 150px);
        gap: 20px;
        align-content: center;
        justify-content: center;

    }

    .servicios-container{
        width: 100%;
        margin: 0;
        padding: 2rem 1rem;
    
        display: grid;
        grid-template-rows: 400px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 3rem;
    
    }
    
}