/* INICIO DEL HERO */
.hero-container{
    width: 100%;
    height: 790px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../media/fondo-web-alan-3.webp);
    

    display: flex;
    justify-content: center;
    justify-content: space-around;

    .text-hero{
        width: 100%;
        height: 790px;
        text-align: center;

        .boton-container{
            height: 50px;
            position: relative;
            top: 150px;

            .btn-primary{
                font-weight: 600;
                background-color: #099FCA;
            }
        }
    
    }
    
}
/* FIN DEL HERO*/

/*SOBRE MI*/

.sobremi-container{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .foto-sobremi{

        width: 400px;
        height: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .texto-sobremi{
        color: #ffffff;
        width: 500px;
        margin: 20px;
        font-weight: 400;
    
        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;

        .titulo-text{
            width: 100%;
            padding: 1rem 0;
            margin: 0;
            font-weight: 600;
            background: $color-primario;
            background-clip: text;
            color: transparent;
            display: flex;
            justify-content: start;
            
        }

        h2{
            width: 100%;
            border-bottom: $color-primario 4px solid;
        }

        p span{
            font-weight: 600;
        }
        
        
    }
}


.habilidades-container{
    width: 100%;
    padding: 1rem .5rem;
    gap: 1rem;
    display: grid;
    grid-template-rows: repeat(2, 80px);
    grid-template-columns: repeat(4, 80px);
    align-items: center;
    justify-content: center;

    .skills-items{
        color: #ffffff;
        padding: 0;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-tools{
            height: 70px;
            width: 70px;
            padding: 0;
        }
    }
}

/* FIN SOBRE MI*/

/* INCIO SERVICIOS*/

.servicios-container{
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .servicio-item{
        width: 240px;
        padding: 0 0 1rem 0;
        margin: .5rem .5rem;
        background-color: $color-text;
        color: $color-secundario;
        border-radius: 1rem;
        
        

        img{
            margin-top: 1rem;
        }
        

        h4{
            width: 100%;
            height: 80px;
            padding: 1rem 0;
            font-weight: 600;
            color: $color-secundario;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
    
        p{
            width: 100%;
            height: 160px;
            padding: 0 1rem;
            text-align: justify;
            font-size: 15px;
        }

    }



}


/* FIN DE SERVICIOS*/


.projects-container{
    width: 100%;
    color: $color-text;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .projects-cards{
        width: 400px;
        padding: 0;
        margin: 1rem;
        text-align: justify;
        border: $color-primario 2px solid;
        border-radius: 20px;
        background-color: $color-text;
    
        

        .boton-projects{
            width: 200px;
            height: 50px;
            color: $color-text;
            font-weight: 600;
            background-color: $color-terciario;
            border-radius: 1rem;
            position: relative;
            top: 1.5rem;
            transition: .5s;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.447);
            &:hover{
                background-color: $color-primario;
                top: 1px;
            }
        }
        
        div{
            width: 100%;
            color: $color-secundario;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        

            h4{
                width: 100%;
                padding: 0;
                margin: 0;
                font-weight: 600;
                color: $color-secundario;
                text-align: center;
                display: flex;
                align-items: center;
            }

            h5{
                width: 100%;
                height: 40px;
                padding: 0;
                text-align: center;
                color: $color-secundario;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }

        }

        p{  
            height: 80px;
            padding: .5rem 2rem;
            margin: 0;
            color: $color-secundario;
        }

        img{
            margin: .5rem .5rem;
            border-radius: 18px;
            transition: 1s;
    
            }
        }
        
}
