/* INICIO DEL HERO */
.hero-container{
    width: 100%;
    height: 790px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../media/fondo-web-alan-3.webp);


    display: flex;
    justify-content: center;
    justify-content: space-around;

    .text-hero{
        @include flex-cards(column, center, center);
        width: 100%;
        height: 790px;
        text-align: center;

        h4{
            padding: .5rem 1rem;
        }

        .boton-container{
            height: 50px;
            position: relative;
            top: 150px;

            .btn-primary{
                font-weight: 600;
                background-color: $color-primario;
                border-radius: 1rem;
                transition: .5seg;
                
                &:hover{
                    background-image: linear-gradient(45deg, $color-terciario,$color-primario);
                    box-shadow: 0 0 10px $color-primario;
                }
            }
        }

    }

}
/* FIN DEL HERO*/

/*SOBRE MI*/

.sobremi-container{
    width: 100%;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .foto-sobremi{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .texto-sobremi{
        color: #ffffff;
        width: 500px;
        margin: 20px;
        font-weight: 400;

        text-align: justify;
        display: flex;
        align-items: center;
        flex-direction: column;

        .titulo-text{
            width: 100%;
            padding: 1rem 0;
            margin: 0;
            font-weight: 600;
            background: $color-primario;
            background-clip: text;
            color: transparent;
            display: flex;
            justify-content: start;

        }

        h2{
            width: 100%;
            border-bottom: $color-primario 4px solid;
        }

        p span{
            font-weight: 600;
        }


    }
}
.habilidades-container{
    max-width: 100%;
    height: 300px;
    padding: 1rem .5rem;
    gap: 2rem;
    display: grid;
    grid-template-rows: repeat(2, 120px);
    grid-template-columns: repeat(4, 120px);
    align-content: center;
    justify-content: center;

    .skills-items{
        color: #ffffff;
        padding: 0;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;}

    img{
        width: 90px;
        padding: 0;
    }
    .icon-tools{
        transition: 1s;
        &:hover{
            transform: scale(1.5, 1.5);
        }
    }
}


/* FIN SOBRE MI*/

/* INCIO SERVICIOS*/

.servicios-container{
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .servicio-item{
        @include flex-cards(column, center, center);
        width: 240px;
        padding: 0 0 1rem 0;
        margin: .5rem .5rem;
        background-color: $color-text;
        color: $color-secundario;
        border-radius: 1rem;



        img{
            margin-top: 1rem;
        }


        h4{
            width: 100%;
            height: 80px;
            padding: 1rem 0;
            font-weight: 600;
            color: $color-secundario;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        p{
            width: 100%;
            height: 160px;
            padding: 0 1rem;
            text-align: justify;
            font-size: 15px;
        }

    }



}


/* FIN DE SERVICIOS*/


.projects-container{
    color: $color-text;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;


    .projects-cards{
        @include flex-cards(column, center, center);
        width: 350px;
        padding: 0;
        margin: 2rem;
        text-align: justify;
        border-radius: 20px;
        background-color: $color-text;

        .motion-image{
            width: 100%;
            border-radius: 1rem;
            object-fit: cover;
            transition: .3s;
            &:hover{
                transform: scale(1.2);
            }
        }

        .boton-projects{
            width: 200px;
            height: 50px;
            color: $color-text;
            font-weight: 600;
            background-color: $color-primario;
            border-radius: 1rem;
            position: relative;
            top: 1.5rem;
            transition: .5s;
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.447);

            display: flex;
            align-items: center;
            &:hover{
                background-image: linear-gradient(45deg, $color-terciario,$color-primario);
                box-shadow: 0 0 10px $color-primario;
            }

            .icon-tobehance{
                width: 24px;
                margin: 0;
            }

        }

        div{
            @include flex-cards(column, center, center);
            width: 100%;
            color: $color-secundario;


            h4{
                @include flex-cards(column, center, center);
                width: 100%;
                padding: 0;
                padding-top: .5rem;
                margin: 0;
                font-weight: 600;
                color: $color-secundario;
                text-align: center;
            }

            h5{
                width: 100%;
                height: 40px;
                padding: 0;
                text-align: center;
                color: $color-secundario;
                display: flex;
                justify-content: center;
                align-items: center;

            }

        }

        p{
            height: 80px;
            padding: .5rem 2rem;
            margin: 0;
            color: $color-secundario;
        }

    }
}

/* CONTACTOS*/
.contacto-container{
    display: flex;
    justify-content: center;

    .form-container{
        width: 90%;
        color: $color-text;
        @include flex-cards(column, center, center);

        h3{
            margin: 0 0 1rem 0;
            padding: .5rem 0;
        }
    

        form{
        width: 60%;
        color: $color-text;
        font-family: $font-site;
        font-weight: 600;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    
        input, textarea{
            width: 100%;
            color: $color-text;
            border: $color-primario 1px solid;
            border-radius: .5rem;
            background: none;
            padding: .5rem;
            margin: .5rem;
            color: $color-text;

        }

        label{
            width: 100%;
            text-align: start;
            font-size: larger;
        }
        
        .boton-enviar{
            background-color: $color-primario;
            font-weight: 600;
            transition: .5s;

            &:hover{
                background-image: linear-gradient(45deg, $color-terciario,$color-primario);
                box-shadow: 0 0 10px $color-primario;
            }
        }
    }
    }
}