*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: $font-site;
    box-sizing: border-box;
}

a{
    color: $color-text;
    text-decoration: none;
}

body{
    background-color: $color-secundario;

}
h1{
    color: $color-text;
    padding: .5rem 0;
    margin: 0;
    text-align: center;
    font-size: 280%;
    font-weight: bold;
}
h2{
    font-weight: 600;
    margin: 0;
    padding: 1rem 0;
    color: $color-text;
    display: flex;
    justify-content: center;
}

h3{
    width: 100%;
    margin: 1rem 0 0 0;
    color: $color-text;
    text-align: center;

    display: flex;
    justify-content: center;
}
h4{
    padding: 0 2rem;
    margin: 0;
    color: $color-text;
    font-weight: 50;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
h5{
    padding: 0;
    margin: 0;
    color: $color-text;
}

.p{
    color: $color-text;
}